/*
// =========================================================================//==============================================================//
//                                                                          //                                                              //
//                                                                          //             Copyright © Of Fire Twins Wesp 2015              //
// Author= {"Callada", "Another"}                                           //                                                              //
// Project="Soul.Language"                                                  //                  Alise Wesp & Yuuki Wesp                     //
// Version File="1.0"                                                       //                                                              //
// License="root\\LICENSE", LicenseType="MIT"                               //                                                              //
// =========================================================================//==============================================================//
*/
/* soul */
.monaco-editor.vs-dark .token.soul									{ color: #9CDCFE; }
.monaco-editor.vs-dark .token.soul.aligment							{ color: #E6AAFF; }
.monaco-editor.vs-dark .token.soul.preproc							{ color: #918896; }
.monaco-editor.vs-dark .token.soul.codec							{ color: #d81313; }
.monaco-editor.vs-dark .token.soul.gate								{ color: #d713d8; }
/* end soul */